<div class="jumbotron text-center">
  <h1>Quizzr!</h1>

  <div>
    <a class="btn btn-outline-primary btn-sm" [routerLink]="['/dashboard']">Dashboard</a>
    <a class="btn btn-outline-primary btn-sm" [routerLink]="['/register']">Register</a>
    <a class="btn btn-outline-primary btn-sm" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <h3>Create a quiz!</h3>
    <p>Go here to view all current quizzes and create new ones!
    <a class="btn btn-outline-primary btn-sm" [routerLink]="['/dashboard']">Dashboard</a></p>
  </div>
  <div class="col-sm">
    <h3>Share with your friends!</h3>
    <p>Coming soon! Share your quizzes with your friends exclusively!
    <a class="btn btn-outline-primary btn-sm" [routerLink]="['/profile']">Profile</a></p>
  </div>
  <div class="col-sm">
    <h3>Reminders</h3>
    <p>Coming soon! Set reminders that will message you about your need to study! <a class="btn btn-outline-primary btn-sm" [routerLink]="['/register']">Register</a></p>
  </div>
</div>
